*{
    margin: 0;
    padding-top: 0;
}

body{

    background:#fff;

}



.datos
{

    margin-top: 32px;
    margin-left:5%;
    float: left;  


}



.codigo
{

    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    padding: 8px;
    resize: vertical;

}



div
{
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    font-weight: normal;

}

.ico,.ico_p,.ico_c{
    color:#b2b2b2;
    font-size: 23px;   
      padding-right: 15px;
}

.ico_c
{
    padding-right: 14px;

}

.ico_p
{
    padding-right: 25px;

}



.button_tbl
{
    overflow:hidden;
    padding:8px ;
    background-color:transparent;
    border:0px solid transparent;
    box-shadow: 0px 0px 1px transparent;
    cursor: pointer;
    color: #b2b2b2;
    font-size: 18px;
    text-align: center;
  
}




.button
{

    overflow:hidden;
    margin-top: 5px;
    margin-left: 43px;
    border-radius: 8px;
    padding:8px ;
    background-color:#ededed;
    border:0px solid #ededed;
    box-shadow: 0px 0px 1px #777777;
    cursor: pointer;
    color: #b2b2b2;
    font-size: 18px;
    font-family: Microsoft Yi Baiti;
    font-weight: bold;
    text-align: center;
    width: 66%;
}

.button:hover
{
    box-shadow: 0px 0px 1px #777777;
    background-color: #777777;
    color: white;
}



.ico_borrar
{
    color:#ff7585 ;
    font-size: 20px;

}
.ico_actualizar
{
    color:#1fdbb8 ;
    font-size: 20px;

}

.ico_actualizar:hover,.ico_borrar:hover
{
     color: #777777;
    
}








table{ 


    text-align: center;
    font-family: Microsoft Yi Baiti; 

}
th {

    background: #ededed;



}


tr:hover td{  
    background: #ededed; 

}





.datosTabla{
    padding-top: 0px;
    padding-right: 30px;
  
}






