*{
    margin: 0;
    padding-top: 0;
}

body{

    background:#fff;

}
@font-face {
    font-family: Simplifica;
    src: url(../webfonts/SIMPLIFICA.ttf);
}

h1{
    font-size:45px;
    font-weight: bold;
    color: #777777;
}

p{
    font-size:15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    padding-bottom:1px;
}
.titulo_menu{
    padding-top:20px; 
    padding-bottom: 20px;
    margin-bottom: 1px;
    font-family: Simplifica;
    text-align: center;
    background-color: #ededed; ;
}
.datos
{

    margin-top: 30px;
    margin-left:10%;

    float: left;  


}

.datos2
{

    margin-top: 30px;
    margin-left:1%;

    float: left;  


}
.nombre,.cedula,.direccion,.telefono,
.contrasena,.apellido, .fecha, .correo, .ciudad, 
.descuento, .pvp, .iva, .cantidad
{

    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    padding: 8px;
    resize: vertical;

}


.cedula{
    width: 50%;

}
.button-buscar{
    width: 6%;
    padding: 8px;
    background-color:transparent;
    border:0px solid transparent;
    box-shadow: 0px 0px 1px transparent;
    cursor: pointer;
    color: #b2b2b2;
    text-align: center;


}

.button-buscar:hover{
    color: #777777;
}

.apellido{
    margin-left: 43.5px;
}

div
{
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    font-weight: normal;

}

.ico_cedula,.ico_user,.ico_usuarios,.ico_password,.ico_keyid,
.ico_calendario,.ico_calendario,.ico_telefono, .ico_direccion,
.ico_correo, .ico_estaod,.ico_ciudad,.ico_card,.ico_producto,
.ico_cantidad,.ico_descuento, .ico_pvp, .ico_iva{
    color:#b2b2b2;
    font-size: 23px;   
}

.ico_keyid
{
    padding-right: 13px;

}
.ico_cedula{
    padding-right:11px;
}

.ico_user
{
    padding-right: 17px;
}

.ico_usuarios
{
    padding-right: 7px;
}
.ico_ciudad{
    padding-right: 13px;
}
.ico_password
{
    padding-right: 16px;
}
.ico_producto{
     padding-right: 12px;
}
.ico_calendario{
    padding-right: 16.5px;
}
.ico_direccion{
    padding-right: 19px;
}
.ico_correo{
    padding-right: 12px;
}
.ico_telefono{
    padding-right: 20px;
}
.ico_estaod{
    padding-right: 12px;
}
.ico_card
{
    padding-right: 11px;
}

.ico_descuento{
     padding-right: 14px;
}
.ico_pvp{
     padding-right: 10.5px;
}

.ico_iva{
     padding-right: 14.5px;
}
.ico_cantidad{
     padding-right: 9px;
}
.button-guardar
{

    overflow:hidden;
    margin-top: 5px;
    margin-left: 43px;
    padding:8px ;
    background-color:#ededed;
    border:0px solid #ededed;
    box-shadow: 0px 0px 1px #777777;
    cursor: pointer;
    color: #b2b2b2;
    font-size: 18px;
    font-family: Microsoft Yi Baiti;
    font-weight: bold;
    text-align: center;
    width: 66%;
}

.button-guardar:hover
{
    box-shadow: 0px 0px 1px #777777;
    background-color: #777777;
    color: white;
}



.ico_borrar
{
    color:#ff7585 ;
    font-size: 20px;

}
.ico_actualizar
{
    color:#1fdbb8 ;
    font-size: 20px;

}


.tipo, .tipoProducto
{
    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:8px;
    width: 67%;

}








table{ 


    text-align: center;
    font-family: Microsoft Yi Baiti; 

}
th {

    background: #ededed;



}


tr:hover td{  
    background: #ededed; 

}





.datosTabla{
    padding-top: 30px;
    padding-right: 30px;
  
}




#contenedor{ 
    margin: auto; 

} 


#lateral{ 
    background-color: transparent; 
    width: 200px; 
    float:left; 

}  


#lateral2{ 

    width: 20%;
    padding-right: 0px;
    float:left; 


}  
#lateral3{ 

    width: 19%;
    padding-right: 0px;
    float:left; 


}  

.ico_t{
    padding-right: 5px;
}
.ico_u{
    padding-right: 5px;
}
.ico_d{
    padding-right: 6px;
}
.ico_a{
    padding-right: 3px;
}
.ico_f{
    padding-right: 6px;
}
.ico_b{
    padding-right: 3px;
}
.logueado{
    font-family: Microsoft Yi Baiti;
    text-align: center;
    position:absolute;
    top: 2%;
    left: 86%;

}

.ico_logueado{
    color: #777777;
    padding-right: 5px;
}